body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 100;
    margin-bottom: 0;
}

h2 {
    font-weight: 100;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    margin-top: 0em;
}

h3 {
    font-size: 1em;
    padding-bottom: 0em;
}

i {
    margin-right: .5em;
}

p {
    margin: 0.2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

header {
    text-align: center;
    margin: auto 2em;
}

main {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}

section {
    margin: auto 1em 2em 2em;
}

#mainLeft {
    border-right: 1px solid lightgray;
}

.jobtitle {
    font-style: oblique;
}

.projects {
    font-weight: bold;
}